body
{
	background-image: url("Monde.jpg");
	background-attachment: relative;
	background-position: left;

}
.entete
{
	color: rgba( 255, 0, 51, 0.8);
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.7);
	border:double;
	border-color: rgb( 9, 89, 14 );

}
.attendue
{
	color: rgb( 0, 255, 0 );
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.7);


}
.attendue-2
{
	color: rgb( 0, 255, 255 );
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.7);
	border-style:double;
	border-color: black;

}

.conti
{
	color: red;
	position: absolute;
	top: 90%;
	left: 85%;
	text-decoration: underline;

}
a
{
	text-decoration: none;
	color: blue;
}
