body
{
	background-image: url("descoeurs.jpg");

}

.SSS
{
	color: rgb(248, 255, 11);
	text-align: center;
	border: solid;
	border-color: rgb(248, 255, 11);

}

.AAA
{
	color: rgb(0, 255, 255);
	text-align: center;
	width: 100%;
	font-family: segoe print;
	font-size: 20px
}

.CCC
{
	color: rgb(0, 27, 255);
	position: absolute;
	left: 85%;
	top: 90%;
	bottom: 10%;
	font-family: arial;
	font-size: 20px;
	text-decoration: underline;
}

.BBB
{
	color: rgb(0, 255, 0);
	text-align: center;
	width: 100%;
	font-family: segoe print;
	font-size: 20px
}
a
{
	font-size: 15px;
	color: rgba(0, 255, 0,0.75);
}
