.reponseA
{
  color: red;
	text-align: center;
}
body
{
  background-image: url("plainevert.jpg");
}
.repcomplete
{
  color: rgb( 33, 47, 60 );
	border: dotted;
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
}
.conti
{
  text-align: center;
}
a
{
  text-decoration: none;
	color: rgb( 211, 84, 0 );
}
a:hover
{
  text-decoration: underline;
  font-size: 20px;

}
img
{
  position: absolute;
  top: 60%;
  bottom: 40%;
  left: 3%;
  right: 97%;
  width: 5%;

}
img:hover
{
  width: 10%;
}
